body {
    background-color: rgb(255, 255, 255);
    font-family: 'Nunito', sans-serif; color:rgba(0, 0, 0, 0.616);

}

div.flex-align {
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    height: 100%;
  }

.img-w150 {
    width: 150px;
    border-radius: 50%;
}

.menu {
    margin-top: 15px;
}